# .gitignore content
node_modules
.nyc_output
coverage
out
.coveralls.yml
.npmrc

# additional ignores for NPM
.vscode
.husky
test
**/*.test.js
.nvmrc
.eslintrc.js
.eslintignore
.travis.yml
tsconfig.json
